<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What Breed is My Dog?</title>
  
  <link rel="stylesheet" type="text/css" href="style.css">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" href="#">

</head>
<body>

 <!--Navigation bar-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container">
  <a class="navbar-brand" href="#">
    <img src="../Images\ClipartKey_420367.png" width="30" height="30" class="logo" alt="#">Dog Breed Classification</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex" id="navbarMain">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Who we are</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Data</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>
  </div>
</div>
</nav>
      <!--image slider start-->
  <main> 
    <section class="carousel">
      <div class="slider">
        <div class="slides">
            <!--radio buttons start-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <input type="radio" name="radio-btn" id="radio5">
            <input type="radio" name="radio-btn" id="radio6">
            <input type="radio" name="radio-btn" id="radio7">
            <input type="radio" name="radio-btn" id="radio8">
            <input type="radio" name="radio-btn" id="radio9">
            <input type="radio" name="radio-btn" id="radio10">
            <input type="radio" name="radio-btn" id="radio11">
            <input type="radio" name="radio-btn" id="radio12">
            <input type="radio" name="radio-btn" id="radio13">
            <input type="radio" name="radio-btn" id="radio14">
            <input type="radio" name="radio-btn" id="radio15">
            <input type="radio" name="radio-btn" id="radio16">
            <input type="radio" name="radio-btn" id="radio17">
            <input type="radio" name="radio-btn" id="radio18">
            <input type="radio" name="radio-btn" id="radio19">
            <input type="radio" name="radio-btn" id="radio20">
            <!--radio buttons end-->
            <!--slide images start-->
            <div class="slide first">
                <img src="/Images/american-bulldog.jpg">
            </div>
            <div class="slide">
                <img src="/Images/basset-hound.jpg">
            </div>
            <div class="slide">
                <img src="/Images/beagle.jpg">
            </div>
            <div class="slide">
                <img src="/Images/boxer.jpeg">
            </div>
            <div class="slide">
                <img src="/Images/cavalier.jpg">
            </div>
            <div class="slide">
                <img src="/Images/chihuahua.jpg">
            </div>
            <div class="slide">
                <img src="/Images/chinese-crested.jpg">
            </div>
            <div class="slide">
                <img src="/Images/chow-chow.jpg">
            </div>
            <div class="slide">
                <img src="/Images/corgi.jpg">
            </div>
            <div class="slide">
                <img src="/Images/dachshund.jpg">
            </div>
            <div class="slide">
                <img src="/Images/german-shepherd.jpg">
            </div>
            <div class="slide">
                <img src="/Images/great-dane.jpg">
            </div>
            <div class="slide">
                <img src="/Images/greyhound.jpg">
            </div>
            <div class="slide">
                <img src="/Images/labrador-retriever.jpg">
            </div>
            <div class="slide">
                <img src="/Images/mastiff.jpg">
            </div>
            <div class="slide">
                <img src="/Images/poodle.jpg">
            </div>
            <div class="slide">
                <img src="/Images/rottweiler.jpg">
            </div>
            <div class="slide">
                <img src="/Images/saint-bernard.jpg">
            </div>
            <div class="slide">
                <img src="/Images/siberian-husky.jpg">
            </div>
            <div class="slide">
                <img src="/Images/weimaraner.jpg">
            </div>
            <!--slide images end-->
            <!--automatic navigation start-->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
                <div class="auto-btn5"></div>
                <div class="auto-btn6"></div>
                <div class="auto-btn7"></div>
                <div class="auto-btn8"></div>
                <div class="auto-btn9"></div>
                <div class="auto-btn10"></div>
                <div class="auto-btn11"></div>
                <div class="auto-btn12"></div>
                <div class="auto-btn13"></div>
                <div class="auto-btn14"></div>
                <div class="auto-btn15"></div>
                <div class="auto-btn16"></div>
                <div class="auto-btn17"></div>
                <div class="auto-btn18"></div>
                <div class="auto-btn19"></div>
                <div class="auto-btn20"></div>
            </div>
            <!--automatic navigation end-->
        </div>
        <!--manual navigation start-->
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
            <label for="radio5" class="manual-btn"></label>
            <label for="radio6" class="manual-btn"></label>
            <label for="radio7" class="manual-btn"></label>
            <label for="radio8" class="manual-btn"></label>
            <label for="radio9" class="manual-btn"></label>
            <label for="radio10" class="manual-btn"></label>
            <label for="radio11" class="manual-btn"></label>
            <label for="radio12" class="manual-btn"></label>
            <label for="radio13" class="manual-btn"></label>
            <label for="radio14" class="manual-btn"></label>
            <label for="radio15" class="manual-btn"></label>
            <label for="radio16" class="manual-btn"></label>
            <label for="radio17" class="manual-btn"></label>
            <label for="radio18" class="manual-btn"></label>
            <label for="radio19" class="manual-btn"></label>
            <label for="radio20" class="manual-btn"></label>
        </div>
        <!--manual navigation end-->
    </div>
    <!--image slider end-->

    <script type="text/javascript">
    var counter = 1; 
    setInterval(function(){
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if (counter > 20){
            counter = 1;
        }
    }, 5000);
    </script>
  </div>
  </section>
</main>

  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>


    