.body {
    background-color: green;
}

.carousel {
    margin: 0;
    padding: 0; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: relative; 
    top: 40px;
}

.slider {
    width: 800px;
    border-radius: 10px; 
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.slides {
    width: 500%;
    height: 500px; 
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px; 
    height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 800px; 
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #D0F0C0; 
    padding: 5px; 
    border-radius: 10px;
    cursor: pointer; 
    transition: 3s;
}

.manual-btn:not(:last-child) {
    margin-right: 5px;
}

.manual-btn:hover {
    background: #D0F0C0;
}

#radio1:checked ~ .first {
    margin-left: 0; 
}

#radio2:checked ~ .first {
    margin-left: -20%; 
}

#radio3:checked ~ .first {
    margin-left: -40%; 
}

#radio4:checked ~ .first {
    margin-left: -60%; 
}

#radio5:checked ~ .first {
    margin-left: -80%; 
}

#radio6:checked ~ .first {
    margin-left: -100%; 
}

#radio7:checked ~ .first {
    margin-left: -120%; 
}

#radio8:checked ~ .first {
    margin-left: -140%; 
}

#radio9:checked ~ .first {
    margin-left: -160%; 
}

#radio10:checked ~ .first {
    margin-left: -180%; 
}

#radio11:checked ~ .first {
    margin-left: -200%; 
}

#radio12:checked ~ .first {
    margin-left: -220%; 
}

/* #radio13:checked ~ .first {
    margin-left: -240%; 
}

#radio14:checked ~ .first {
    margin-left: -260%; 
}

#radio15:checked ~ .first {
    margin-left: -280%; 
}

#radio16:checked ~ .first {
    margin-left: -300%; 
}

#radio17:checked ~ .first {
    margin-left: -320%; 
}

#radio18:checked ~ .first {
    margin-left: -340%; 
}

#radio19:checked ~ .first {
    margin-left: -360%; 
}

#radio20:checked ~ .first {
    margin-left: -380%; 
} */

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center; 
    margin-top: 470px;
}

.navigation-auto div {
    border: 2px solid #D0F0C0;
    padding: 5px; 
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 5px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #D0F0C0;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #D0F0C0;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #D0F0C0;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #D0F0C0;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #D0F0C0;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background: #D0F0C0;
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background: #D0F0C0;
}
#radio8:checked ~ .navigation-auto .auto-btn8{
    background: #D0F0C0;
}
#radio9:checked ~ .navigation-auto .auto-btn9{
    background: #D0F0C0;
}
#radio10:checked ~ .navigation-auto .auto-btn10{
    background: #D0F0C0;
}
#radio11:checked ~ .navigation-auto .auto-btn11{
    background: #D0F0C0;
}
#radio12:checked ~ .navigation-auto .auto-btn12{
    background: #D0F0C0;
}
/* #radio13:checked ~ .navigation-auto .auto-btn13{
    background: #D0F0C0;
}
#radio14:checked ~ .navigation-auto .auto-btn14{
    background: #D0F0C0;
}
#radio15:checked ~ .navigation-auto .auto-btn15{
    background: #D0F0C0;
}
#radio16:checked ~ .navigation-auto .auto-btn16{
    background: #D0F0C0;
}
#radio17:checked ~ .navigation-auto .auto-btn17{
    background: #D0F0C0;
}
#radio18:checked ~ .navigation-auto .auto-btn18{
    background: #D0F0C0;
}
#radio19:checked ~ .navigation-auto .auto-btn19{
    background: #D0F0C0;
}
#radio20:checked ~ .navigation-auto .auto-btn20{
    background: #D0F0C0;
}  */

.navbar-nav ul {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: red; /* change to desired color */
}
.logo {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    padding:10px;
    margin:0px;
    
      /* if you want it vertically middle of the navbar. */
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}
.nav-item {
    font-size: larger;
}

.nav-link {
    color: black !important;
}

.navbar-brand {
    font-weight: 1000;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    
}

.wrapper {
    position: center;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2px;
    top: 80px;
}
.wrapper2 {
    position: relative; 
    top: 80px;
}
img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
}
img:hover {
    transform: scale(1.03);
}

.p {
    position: relative; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

label {
    padding: 16px 48px; 
    border: 3px solid green; 
    border-radius: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: green;
}

label:hover {
    transform: scale(1.04);
}

label.active {
    background-color: #D0F0C0;
    color: #242424;
}

label span {
    font-weight: normal; 
}

label.image {
    width: 300px; 
    height: 300px; 
    padding: 0px; 
    overflow: hidden;
}

label.image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
.image-container .image-wrapper {
    position: relative;
    height: 400px;
    width: 550px;
    border-radius: 10px; 
    background: #D0F0C0;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
    border: 2px dashed green;
} 
.img-preview {
    width: 299px;
    height: 299px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #18914e;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: green;
    color: #39D2B4;
}

h1 {
    font-family:"Arial Black", Gadget, sans-serif !important;
    font-size: 55px !important;
    font-weight:bold !important;
    text-align:center !important;
    color: darkgrey;
    /* margin:35px; */
  }

h2 {
    ont-family:"Arial Black", Gadget, sans-serif !important;
    font-size: 35px !important;
    font-weight:bold !important;
    /* text-align:center !important; */
    color: darkgrey;
}  

h3 {
    font-family:"Arial Black", Gadget, sans-serif !important;
    font-size: 35px !important;
    font-weight:bold !important;
    text-align:center !important;
    color: darkgrey;
    /* margin:35px; */
  }
p {
    font-weight:bold !important;
    text-align: justify !important;
    font-size: 20px !important;

}

#btn-predict {
    background: #18914e !important;
    color: #fff !important;
 }

#btn-predict:hover {
    background: green !important;
    color: #39D2B4 !important;
}

#rcorners {
    border-radius: 25px;
    border: 2px solid rgb(103, 179, 103);
    background: white;
    /* padding-left: 300px; 
    padding-right: 300px;
    width: 200px;
    height: 150px;  */
} 

.col-lg-8 {
    text-align: center;
    /* font-size: 18px; */
    /* font-weight: bold; */
}

#barplot {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }